<div class="hero">
  <br />
<div class="frosty col-10 offset-1 text-center">
      <br />
      <h1>Learn Magic from the Pros</h1>
      <br />
<h2>I'm an illusionist, Michael.</h2>
      <br />
<%= link_to 'Learn More', '#', class: 'btn btn-success' %>
  <br />  <br />
</div>
</div>
  
  <br />

<div class='row feature text-center'>
  <div class="col-12 col-sm">
    <h3>The Stars</h3>
    <br />
    <p>Choose from all the stars</p>
  </div>

  <div class="col-12 col-sm">
    <h3>The Planets</h3>
     <br />
     <p>Choose from all the planets</p>
      </div>
  
  <div class="col-12 col-sm">
    <h3>The Sky</h3>
     <br />
     <p>Choose from all the skys</p>
  </div>
</div>

